body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    color: #333;
}

.container {
    background: linear-gradient(to bottom, #67a2de, #f7f7f7);
    text-align: center;
    padding: 70px;
}

header {
    color: #ecf0f1;
    display: flex; /*gjør at elementene på skjermen justerer seg på egenhånd hvis verdier blir endret eller hvis vinduet blir mindre*/
    flex-direction: column; /*legger elemetene i en kolonne*/
    align-items: center; /*setter elementene i midten*/
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 3px;
}

p, p1, p2 {
    text-align: center; /*setter teksten i midten av skjermen*/
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.button, .button:visited {
    display: inline-block; 
    padding: 15px 30px; /*setter hvor stort mellomrom det er mellom teksten og kanten på knappen*/
    font-size: 18px; /*setter hvor stor teksten skal være*/
    font-weight: bold;
    text-align: center; /*putter knappen i midten av skjermen*/
    text-decoration: none;
    cursor: pointer;
    color: #1f73e1; /*setter fargen til knappen*/
    border: none; /*gjør at knappen ikke har en kant rundt seg da man ikke holder over den*/
    border-radius: 25px; /*gjør at knappen blir rund i kantene*/
    transition: background-color 0.3s ease, transform 0.3s ease; /*bestemmer hvor lang tid det tar før knappen blir mørkere da man holder over den*/
    margin: 5px; /* mellomrom mellom knappene */
}

.button:hover {
    background-color: #2980b9; /*setter en ny farge da man holder over knappen*/
    transform: scale(1.05); /*bestemmer hvor mye større knappen blir når man holder over*/
}