body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    color: #333;
}

.container {
    background: linear-gradient(to bottom, #67a2de, #f7f7f7);
    text-align: center;
    padding: 70px;
}

header {
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 3px;
}

p, p1, p2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.button, .button:visited {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #1f73e1;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px; /* Add margin for spacing between buttons */
}

.button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}